In [5]:
import pandas as pd
import numpy as np

### Q1

In [6]:
l=[4, 8, 15, 16, 23,42]
s=pd.Series(l)
s

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

### Q2

In [11]:
arr=np.random.randint(1,100,10)
l=[i for i in arr]
print(type(l))
s=pd.Series(l)
s

<class 'list'>

0    63
1    27
2    39
3    41
4    43
5     4
6    74
7    73
8    89
9    91
dtype: int32

### Q3

In [15]:
d={'Name':['Alice','Bob','Claire'],
  'Age':[25,30,27],
   'Gender':['Female','Male','Female']
  }
df=pd.DataFrame(d)
df

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

### Q4

In [18]:
# Series ->> Series  as a single column of data , much like an array (1 dimensional)

fruits=['apple','banana','cherry']
fruit_series=pd.Series(fruits)
print(fruit_series)

# DataFrame ->> A dataframe is like a table with rows and column (2 dimensional)

data={'Name':['Alice','Bob','Claire'],
  'Age':[25,30,27],
   'Gender':['Female','Male','Female']
  }
df=pd.DataFrame(data)
print(df)

0     apple
1    banana
2    cherry
dtype: object
     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

### Q5

#### common functions for DataFrame

In [32]:
# index,values,head,tail,sample,isnull,sum,min,max,...etc

data={'Name':['Alice','Bob','Claire'],
  'Age':[25,30,27],
   'Gender':['Female','Male','Female']
  }
df=pd.DataFrame(data)
print(df)

print(df.values)
print()
print(df.isnull())
print()
print(df['Age'].sum())

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female
[['Alice' 25 'Female']
 ['Bob' 30 'Male']
 ['Claire' 27 'Female']]

    Name    Age  Gender
0  False  False   False
1  False  False   False
2  False  False   False

82

### Q6

#### Series: A pandas Series is mutable.
#### DataFrame: A pandas DataFrame is mutable.
#### Panel is also mutable(if you encounter it in older versions of pandas)

###  Q7

In [33]:
data=[
    [100,8.0,20],
    [110,7.5,15],
    [115,8.5,23],
    [113.79,6.7,7]
]
student_record=pd.DataFrame(data,columns=['iq','cgpa','package'])

In [34]:
student_record

       iq  cgpa  package
0  100.00   8.0       20
1  110.00   7.5       15
2  115.00   8.5       23
3  113.79   6.7        7